.titulo{
width: 100%;
color: rgb(0, 255, 213);
background: #25415a;
text-align: center;
color: white;
}
.tipoanime{
    width: 100%;
    text-align: center;
    color: white;
    background-color: orange;
    border-radius: 5px;
}
.sinopsis {
    color: rgb(2, 2, 2);
    padding: 0 0 0 80px;
}
.img{
    display: flex;
}