@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
    height: 150vh;
    background-image: url(../img/cometaa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

}
#togglesidebar{
  background-image: linear-gradient(to right, #000000, #9d0404);
background-clip: text;
-webkit-background-clip: text; 
color: transparent;
}

.img-info{
  
  width: 200px;
  height: 200px;
  border-radius: 45%;
  overflow: hidden;
}
header {
  background: #25415a;
  padding: 15px 0;
  width: 100%;
 
}

.inici{
font-size: 20px;
font-weight: 600;
  background-image: linear-gradient(to right,  #e5ff00, #9d0404);
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
}
.directo{
  font-size: 20px;
  font-weight: 600;
  background-image: linear-gradient(to right,  #e5ff00, #9d0404);
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
}
.header {
  display: flex;
  max-width: 1024px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  
}

.logo {
  font-size: 2rem;
  background-image: linear-gradient(to right, #e5ff00, #9d0404);
background-clip: text;
-webkit-background-clip: text; 
color: transparent;
  
}

nav {
  display: flex;
  gap: 25px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

nav ul a {
  text-decoration: none;
  color: #aaffb4;
  font-size: 17px;
  font-weight: 500;
  display: block;
  transition: all 0.5s ease;
}

nav ul a:hover {
  color: #fff;
}

.categ{
font-size: 30px;
font-weight: 900;
margin-top: 30px;
margin-bottom: 50px;
background-image: linear-gradient(to right, #e5ff00, #9d0404);
background-clip: text;
-webkit-background-clip: text; 
color: transparent;

}

#closesidebar{
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 40px;
  background-image: linear-gradient(to right, #1e0b0b, #eeff00);
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
}
.catego{
  font-size: 30px;
font-weight: 600;

margin-top: 20px;
margin-bottom: 40px;
background-image: linear-gradient(to right, #1e0b0b, #eeff00);
background-clip: text;
-webkit-background-clip: text; 
color: transparent;
}
#search form {
  display: flex;
  align-items: center;
  width: 300px;
}

#search form input {
  width: 80%;
  height: 35px;
  padding: 5px;
  border: none;
  border-radius: 4px 0 0 4px;
}

#search form input[type='submit'] {
  width: 20%;
  height: 45px;
  background-color: #aaffb4;
  border: none;
  border-radius: 0 4px 4px 0;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: #aaffb4;;
  font-size: 22px;
  text-align: center;
  transition: all 0.5s ease;
}

.login:hover {
  background: #000;
}

#main {
  max-width: 1024px;
  margin: 40px auto;
}

.episodes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.episode {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
}

.episode:hover img {
  transform: scale(1.25);
}

.episode img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.icon {
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
}

.episode_description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
}

.episode_number {
  background: orange;
  font-size: 0.8rem;
  font-weight: bold;
  width: auto;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 5px;
}
.episode_cat {
  
  background: rgb(64, 255, 0);
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  display: right;
  margin-bottom: 55px;
  font-size: 0.8rem;
  
}
.episode_lis {
  
  background: rgb(255, 0, 191);
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  display: right;
  margin-bottom: 55px;
  font-size: 0.8rem;
  
}
#sidebar{
  position:fixed; 
  top: 0; 
  left: -320px;
  width: 300px;
  height: 100vh;
  background: #25415a;
  z-index: 2;
  padding: 20px 10px;
  transition: left ease 0.5s;
  &.active{
  left: 0;
  }
}
.table-responsive {
  overflow-x: auto;
}
h2 {
  color: aqua;
}
h1{
  color:aqua;
}


.sipnosis {
  display: none;
  background-color: rgb(247, 247, 247);
}

.episode:hover .sipnosis {
  display: block;
  color: #000000;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.sinopsis-bar {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.sinopsis-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.sinopsis-content h2 {
  font-size: 20px;
  margin-top: 0;
}

.sinopsis-content p {
  font-size: 16px;
  line-height: 1.5;
}


