/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
main {
    text-align: justify;
    padding-top: 20px;
    width: 100%;
    color: black;
}
.nombrett .cat{
    display: flex;
}
.video-player video {
    width: 100%;
    height: auto;
    max-width: 1000px; 
    display: block;
    margin: 0 auto;
}
.anime-detalles {
    text-align: center;
}

#mainLE {
    max-width: 1024px;
    margin: 40px auto;
}
.episodess {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 20px;

}
.episod {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
}
.episod:hover img {
    transform: scale(1.25);
}
.episod img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
.icon {
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
}
.episode_description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
}
.episode_number {
    background: orange;
    font-size: 0.8rem;
    font-weight: bold;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
}
p{
    text-align: right;
}