@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
.sideBar{
    background: #fff;
    position: fixed;
    width: 250px;
    height: 100%;
    border-right: 1px solid #c2c2c2;
    /* padding: 0 10px ; */
    /* top: 80px; */
    left: 0;
    overflow: hidden;
    transition: .5s;
}
.sideBar .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 7px; */
}
.sideBar .logo .img-info{
    padding-top: 5px;
    width: 112px;
    transition: .5s;
    border-radius: 100px;
}
.sideBar ul li{
    border-left: 3px solid transparent;
    height: 50px;
    padding: 0 0 0 10px;
}
.sideBar ul li:hover{
    border-left: 3px solid #555;
    background: #f9f9f9;
}
.sideBar ul .selected {
    /* border-left: 3px solid #555; */
    background: #f9f9f9;
}
.sideBar ul .selected a{
    background: #f9f9f9;
    color: #555;
}
.sideBar ul li i{
    font-size: 25px;
    /* line-height: 40px; */
}
.sideBar ul li a .txtLink{
    overflow: hidden;
    transition: .5s;
    margin-left: 10px;
}
.sideBar ul li a{
    overflow: hidden;
    text-decoration: none;
    color: #606060;
    font-size: 20px;
    line-height: 50px;
    display: inline-block;
    width: 100%;
}
.menu{
    margin-top: 60px;
    padding: 0px;
}
.menu ul{
    list-style: none;
    padding-left: 0px;
}
.menu ul a{
    text-decoration: none;
    font-size: 600;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px ;
    cursor: pointer;
}
.menu ul li a{
    padding-top: 0px;
    padding-bottom: 0px;
}
.menu ul a:hover{
    background: #333;
    color: #fff;
}
main{
    margin-left: 250px;
    padding-right: 0px;
    display: grid;
    grid-template-columns:  4fr;
    padding: 40px;
    border: 50px;
    transition: .5s;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.header h2{
    font-size: 1.8rem;
}

.btnaction{
    background: #555;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}
.btnaction:hover{
    background: #f0f0f0;
    color: #555;
}
main a i.fa-sharp{
    color: #555;

}
#img_container.rotate180 #image {
    transition: .5s;
    transform: rotate(180deg) translateY(-0%);
    -webkit-transform: rotate(180deg) translateY(-0%);
}
table{
    margin-right: 50px;
    min-width: 100%;
}
table thead{
    background: #555;
    color: #fff;
}
table thead th,table tbody td{
    padding: 8px;
    text-align: left;
}
table tbody tr:nth-child(even){
    background: #f3f3f3;
}
#insert_data{
    display: none;
}

#btnBorrar {
    display: none;
}